@import '../../../../globals/variables.scss';

.container {
    width: var(--page-column-width);
    flex-shrink: 0;
    padding: 0;
}

.title {
    font-size: 18px;
}

.list {
    font-size: 18px;
    border-right: 1px solid #d3d3d3;
    margin: 0;
    padding-right: 32px;
}

.activity {
    display: flex;
    font-size: 12px;
    margin-bottom: 29px;
    align-items: center;
}

.info {
    width: 100%;
    justify-content: space-between;
    display: flex;
    line-height: 0;
    margin-left: 10px;
    position: relative;
    bottom: 2px;
    top: 8px;
}

.action {
    font-weight: 200;
    margin-bottom: 15px;
}

.date {
    font-size: 11px;
}
