:root {
    --primary: #3b8cd2;
    --primary-light: #ffffff;
    --primary-dark: #2467a2;
    --color-text-primary: #24292f;
    --color-text-muted: #57606a;
    --color-border-muted: #d0d7de;
    --color-neutral-emphasis-plus: #6e7681;
    --color-neutral-emphasis: #6e7681;
    --color-neutral-muted: #afb8c133;
}
