@import '../../../../../../globals/variables.scss';

.root {
    background-color: #e4ecf1;
    width: var(--heatmap-day-size);
    height: var(--heatmap-day-size);
    border-radius: 50%;
}

.l1 {
    background-color: #c1e4fe;
}

.l2 {
    background-color: #4eb7f5;
}

.l3 {
    background-color: #2b81cb;
}

.l4 {
    background-color: #20455e;
}
