@import '../../../globals/variables.scss';

.root {
    text-decoration: none;
    color: #0969da;
}

.root:hover {
    text-decoration: underline;
    color: #0969da;
}

.muted:not(:hover) {
    color: inherit;
}

.bolded {
    font-weight: 600;
}
