@import '../../../../../../globals/variables.scss';

.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: $small-font-size;
    margin-top: 12px;
    color: var(--color-text-muted);
}

.day {
    border: 1px solid rgba(27, 31, 35, 0.06);
    width: var(--heatmap-day-size);
    height: var(--heatmap-day-size);
    border-radius: 2px;
    width: 10px;
    height: 10px;
}
