@import '../../../globals/variables.scss';

.root {
    width: 100%;
    height: 62px;
    padding: 16px var(--page-padding);
    background-color: var(--primary);
    color: rgba(255, 255, 255, 0.7);
}

.logo {
    margin-right: 16px;
    color: var(--primary-light);
}
