@import '../../../../../../globals/variables.scss';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.tick {
    height: var(--heatmap-day-size);
    font-size: $smaller-font-size;
    line-height: 1;
}
