@import '../../../../globals/variables.scss';

.root {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.detail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $large-font-size;
    padding: 16px 24px;
    height: 25px;
    display: flex;
    align-items: center;
}

.icon {
    color: var(--color-text-muted);
    margin-left: -24px;
    margin-right: 8px;
}
