.root {
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    width: 100%;
    max-width: var(--max-page-width);
    overflow-x: auto;
    flex-direction: column;
    flex: 1;

    margin: 0 auto;
    padding: 0 var(--page-padding);
    gap: 0;
}
