@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

:root {
    --primary: #3b8cd2;
    --primary-light: #ffffff;
    --primary-dark: #2467a2;
    --color-text-primary: #24292f;
    --color-text-muted: #57606a;
    --color-border-muted: #d0d7de;
    --color-neutral-emphasis-plus: #6e7681;
    --color-neutral-emphasis: #6e7681;
    --color-neutral-muted: #afb8c133;

    color: var(--color-text-primary);
    background-color: var(--primary-light);

    --max-page-width: 1280px;
    --page-padding: 32px;
    --page-column-width: 300px;
    --page-gap: 24px;
    --heatmap-day-size: 11px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

a,
a:visited {
    color: inherit;
    cursor: pointer;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
