@import '../../../../../../globals/variables.scss';

.root {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 4px;
}

.tick {
    font-size: $smaller-font-size;
    line-height: 1;
    width: var(--heatmap-day-size);
}
